.wrapper {
    margin: 0 auto 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentOuterWrapper {
    max-width: 80%;
    min-width: 550px;
    position: relative;
}

.contentWrapper {
    display: flex;
}

.profileImg {
    display: inline-block;
}

.textWrapper {
    height: 390px;
    width: 400px;
    background: white;
    padding: 60px 40px 0 40px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    color: #0047AB;
}

.age {
    font-size: 1.2em;
    font-weight: bold;
    color: #0047AB;
    margin-bottom: 50px;
}

.tagInfoContainer {
    display: flex;
    gap: 4px;
    margin-top: 5px;
}

.tag1 {
    min-width: 39px;
}

.tag2 {
    min-width: 33px;
}

.chevronContainer {
    z-index: 10;
    position: absolute;
    top: 200px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftChevron {
    padding-left: 8px;
    color: #A9A9A9;
}

.rightChevron {
    padding-right: 8px;
    color: #A9A9A9;
}

.leftChevron:hover {
    color: #36454F
}

.rightChevron:hover {
    color: #36454F
}


.heartBtn {
    margin-top: 40px;
    padding: 6px 7px;
    border-radius: 50%;
    border: 2px solid #f70776;
    background: white;
    box-shadow: 1px 2px #680747;
}

.heartBtn:active {
    transform: translate(1px, 2px);
    box-shadow: none;
}

.heartIcon {
    color: #f70776;
}

.canChatMsg {
    margin-top: 15px;
    color: #2a52be;
}
