.wrapper {
    border: 1px solid cyan;
    margin: 0 auto 0 auto;
    width: 80%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
}

.profileImg {
    display: inline-block;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    color: #0047AB;
}

.age {
    font-size: 1.2em;
    font-weight: bold;
    color: #0047AB;
    margin-bottom: 30px;
}

.tagInfoContainer {
    display: flex;
    gap: 4px;
    margin-top: 5px;
}

.textWrapper {
    height: 390px;
    width: 500px;
    background: white;
    padding: 60px 40px 0 40px;
}

.heartBtn {
    margin-top: 40px;
    padding: 6px 7px;
    border-radius: 50%;
}