.wrapper {
    height: 96.6vh;
    width: 80%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #002242;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.panelsWrapper {
    display: flex;
    justify-content: space-around;
}

.contentBox {
    background-color: aliceblue;
    width: 335px;
    max-width: 75%;
    margin: 0 auto 0 auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title {
    max-width: 100%;
    margin: 0 auto 0 auto;
    font-size: 1.4em;
    padding: 20px 40px;
    background: #E9E9E9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contentSubBox {
    padding: 10px 40px 50px 40px;
}

.contentWrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentWrapper input[type=text] {
    height: 25px;
    width: 250px;
}

.redBorder {
    border: 2px solid crimson;
}

.logInBtn {
    margin-top: 10px;
    width: 253.5px;
    height: 30px;
    background: #03C03C;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 4px;
}

.logInBtn:active {
    background: #039c31;
}

.signUpMessage {
    margin-top: 15px;
    font-size: 0.9em;
}